/*---  RESETS  ---*/
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:100%;
}
ul{list-style:none;}
a{text-decoration: none;cursor: pointer; opacity: 0.9; text-transform: uppercase;}
a:hover{opacity: 1; color: #0F96E3; transition: .4s;}
a:active{color:#0F96E3; transition:0.2s; font-size: 15px;}

/*---  BARRA DE NAVEGAÇÃO  ---*/
header{
    background-color: rgba(7, 7, 7, 1);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 50px;
}

header nav {display: flex;}

header nav a{
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    margin: 0px 15px;
}

#logo{ width: 100px; height: 70px;}

@media (max-width: 700px){
    header{flex-direction: column;}
    #logo{ margin-bottom: 10px;}
    a{opacity: 1}
}

/*   PRINCIPAL  */
#principal{
    background-image: url('Imagens/background.jpg');
    background-size: cover;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#principal h1{
    font-size: 2.2rem;
    margin-bottom: 15px;
    color: #fff;
}
#principal h3{
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: #F5F4F4;
}
@media (max-width: 700px){
    #principal h1{
        font-size:1.5rem;
    }
    #principal h3{
        font-size:1rem;
    }
}

/*  SOBRE MIM  */
#sobre{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 50px;
    background-color: #F5F4F4;
}
#sobre h2{
    font-size: 2rem;
    margin-bottom: 35px;
    color: #1F81C1;
    text-align: center;
}
#sobre p{
    max-width: 900px;
    margin-bottom: 35px;
    color: #1F81C1;
    text-align: center;
}
#sobre hr{
    width:200px;
    height:2px;
    background-color: #0F96E3;
    margin-bottom: 50px;
    border: none;
}
#sobre .grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#sobre .grid li{
    height: 500px;
    padding: 20px;
    border-radius: 5px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    border-radius:30px;
}
#sobre .grid li:hover{transform:scale(1.1, 1.1); transition:0.5s; cursor:pointer;}
#sobre .grid li.flutuante{flex-basis: 33%;}
@media (max-width: 700px){
    #sobre .grid li.flutuante{flex-basis: 100%;}
}

/*  GALERIA DE FOTOS  */
#galeria{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 50px;
    background: linear-gradient(#1F81C1, #9198e5)
}
#galeria h2{
    font-size: 2rem;
    margin-bottom: 35px;
    color: #fff;
    text-align: center;
}
#galeria p{
    margin-bottom: 35px;
    color: #F5F4F4;
    text-align: center;
}
#galeria hr{
    width:200px;
    height:2px;
    background-color: #fff;
    margin-bottom: 50px;
    border: none;
}
#galeria .grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#galeria .grid li{
    height: 450px;
    padding: 20px;
    border-radius: 5px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    border-radius:27px;
}
#galeria .grid li.small{flex-basis: 40%;}
#galeria .grid li.large{flex-basis: 60%;}
@media (max-width: 700px){
    #galeria .grid li.small{flex-basis: 100%;}
    #galeria .grid li.large{flex-basis: 100%;}
}

/*  CONTATO  */
#contato{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 50px;
    background-color: #F5F4F4;
    padding:50px 0;
}
#contato h2{
    font-size:2rem;
    margin-bottom: 35px;
    text-align:center;
    color: #1F81C1;
}
#contato hr{
    width:200px;
    height:2px;
    background-color: #1F81C1;
    margin-bottom: 35px;
    border:none;
}
#contato .grid{
    display: flex;
    margin-bottom: 25px;
}
#contato .grid li{margin-right:10px;}
#contato .grid li:last-child{margin-right: 0;}
#contato .grid li img{height: 60px;}
#contato .grid li img:hover{height: 63px; transition:.3s;}

/*  FOOTER  */
footer{
    display: flex;
    flex-direction: column;
    padding:35px;
    background-color: #F5F4F4;
}
footer p{
    text-align: center;
    color:#1F81C1;
}