*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
body{
    background-image: url(Imagens/background300.jpg);
    width: 300px;
    background-size: 300px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/* barra de navegação */
.navbar{
    background-color: honeydew;
    height: 35px;
}
#nav{
    margin-left:250px;
    display: flex;
}
.nav-item{
    margin-right: 5px;
    padding: 5px;
    list-style: none;
}
.nav-item>a{
    color: black;
    text-decoration: none;
    padding: 5px;
    border: 1px solid red;
    font-weight: bold
}
.nav-item>a:hover{
    color: rgb(156, 150, 150);
}
#logo{
    background-image: url(Imagens/logo1.jpg);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 2%;
    padding: 5px;
    border: 1px solid red;
    font-weight: bold;
}