/*---  RESETS  ---*/
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:100%;
}

/*---  BARRA DE NAVEGAÇÃO  ---*/
header{
    background-color: rgba(7, 7, 7, 1);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 50px;
}

.menu {display: flex;}

.menu a{
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    margin: 0px 15px;
}

.btnMenu{
    display: none;
}

ul{list-style:none;}

a{
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
    text-transform: uppercase;}

a:hover{opacity: 1; color: #0F96E3; transition: .4s;}

a:active{color:#0F96E3; transition:0.2s; font-size: 15px;}

#logo{ width: 100px; height: 70px;}


/*   PRINCIPAL  */
#principal{
    background-image: url('../Images/background.jpg');
    background-size: cover;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#principal h1{
    font-size: 2.2rem;
    margin-bottom: 15px;
    color: #fff;
}
#principal h3{
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: #F5F4F4;
}

/*  CONTATO  */
#contact{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 50px;
    background-color: #F5F4F4;
    padding:50px 0;
}
#contact h2{
    font-size:2rem;
    margin-bottom: 35px;
    text-align:center;
    color: #1F81C1;
}
#contact hr{
    width:200px;
    height:2px;
    background-color: #1F81C1;
    margin-bottom: 35px;
    border:none;
}
#contact .grid{
    display: flex;
    margin-bottom: 25px;
}
#contact .grid li{margin-right:10px;}
#contact .grid li:last-child{margin-right: 0;}
#contact .grid li img{height: 60px;}
#contact .grid li img:hover{height: 63px; transition:.3s;}

/*  FOOTER  */
footer{
    display: flex;
    flex-direction: column;
    padding:35px;
    background-color: #F5F4F4;
}
footer p{
    text-align: center;
    color:#1F81C1;
}

@media (max-width: 700px){
    header{
        flex-direction: row;
        position:fixed;
        height: 5rem;
    }
    .menu{
        display: block;
        position: absolute;
        width: 100%;
        margin-top: 1rem;
        background-color: black;
        transform: translateX(100%);
        transition: transform 200ms ease-in-out;
    }
    .menu_open{
        transform: translateX(0);
    }
    .menu-item{
        padding: 20px 15px;
        border-bottom: 1px solid gray;
    }
    .menu-item-action{
        font-size: 12px;
        color: white;
    }
    .btnMenu{
        display: inline;
        background-color: black;
        color: white;
        padding: .5rem;
        border: 1px solid white;
        border-radius: .2rem;
    }
    #logo{
        margin-bottom: 10px;
        width: 5rem;
        height:4rem;
    }

    a{opacity: 1}

    #principal h1{
        font-size:1.5rem;
    }

    #principal h3{
        font-size:1rem;
    }
}